/*fonts setting*/
@font-face {
    font-family: 'ProximaNova_bold';
    src: url('../fonts/ProximaNova-Bold.eot');
    src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
        url('../fonts/ProximaNova-Bold.woff') format('woff'),
        url('../fonts/ProximaNova-Bold.ttf') format('truetype'),
        url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova_reg';
    src: url('../fonts/ProximaNova-Regular.eot');
    src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/ProximaNova-Regular.woff') format('woff'),
        url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
        url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@mixin font_bold($font-name,$font-path){
		font-family: $font-name;
		src: url('#{$font-path}.eot');
    src: url('#{$font-path}.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}.woff2') format('woff2'),
        url('#{$font-path}.woff') format('woff'),
        url('#{$font-path}.ttf') format('truetype'),
        url('#{$font-path}.svg#ProximaNova-Bold') format('svg');
        font-weight: 900;
        font-style: normal;
}

@mixin font_regular($font-name,$font-path){
		font-family: $font-name;
		src: url('#{$font-path}.eot');
    src: url('#{$font-path}.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}.woff2') format('woff2'),
        url('#{$font-path}.woff') format('woff'),
        url('#{$font-path}.ttf') format('truetype'),
        url('#{$font-path}.svg#ProximaNova-Bold') format('svg');
        font-weight: normal;
        font-style: normal;

}

/* Color */
$btn-colors:   #f9b002;
$icon-color:   #70c849;
$text:         #1a1820;
$danger:       #ff0000;
$bg-light:     #f5f5f5;
$light:        #fff;
$border-input : #dddddd;
/*basic setting */

html{
	font-size:10px;
		overflow-x: hidden;
}
body{
	@include font_regular("ProximaNova_reg","../fonts/ProximaNova-Regular");
	overflow-x: hidden;
}
a:hover{
	text-decoration: none;
}
button, input, a{
	&:focus{
		outline:none ;
	}
}
.button{
	font-size:1.2rem;
	background-color: $btn-colors;
	color:$light;
	padding: 1rem 3rem;
	border-radius: 8px;
	text-transform: uppercase;
	border:none;
	transition: all 0.2s;
	&:hover{
  cursor:pointer;
  background-color: lighten($btn-colors,15%);
	}
}

/* typography */
section{
	padding: 10rem 0;
} 

.main{
	padding: 3rem 0 10rem;
	background: #fff url(../img/bg.png)  center center no-repeat;
	background-size: cover;
	&-content{
		margin-top: 10rem;
		h1{
			margin-top:0;
			margin-bottom: 5rem;
			line-height: 1.4; 
			@include font_bold("ProximaNova_bold","../fonts/ProximaNova-Bold");
   font-size: 4rem;
   text-transform:uppercase;
		}
	}
	&-subtitle{
  font-size: 2.4rem;
  margin-bottom: 6rem;
	}
	span{
		display: inline-block; 
		padding: 3rem 5rem ;
		font-size: 1.8rem;	
		color:$light;
		background-color:$icon-color;
		text-align: center;
		strong{
			font-size: 3rem;
				@include font_bold("ProximaNova_bold","../fonts/ProximaNova-Bold");
		}
	}
	&-trigger{
  display:block;
  margin-top:4rem;
  text-align: center;
  width: 266px;
  font-size: 2.2rem;
  text-transform:uppercase;
  @include font_bold("ProximaNova_bold","../fonts/ProximaNova-Bold");
	}
	/* Главная форма*/
	&-form{
  padding: 5rem 5rem;
		background-color: $light;
		text-align: center;
		/*header form */
		&-header{
			margin-bottom:4rem;
			font-size: 1.6rem;
			strong{
				font-size: 1.9rem;
			}
		}
		/* поле ввода */
		&-input{
			display:block;
			margin:2rem 0 ;
			width: 100%;
			padding: 1.5rem;
			border: 1px solid $border-input;
		}
		/*подписи к полям*/
		label{
			position: absolute;
			display:inline-block;
			left:50%;
			font-size: 1.3rem;
			transform: translateX(-50%) translateY(-50%);
			padding:0.5rem;
			background-color:$light;
		}
		/* кнопка оставить заявку */
		&-btn{
			 display:block;
			 width: 100%;
			 height: 6rem;
			 font-size: 1.6rem; 
		}
		/* подпись */
small{
display:block;
font-size: 1.2rem;
margin-top: 1.9rem;
}
		
	}
}
.wrap{
	display:table;
	width: 100%;
	height:7rem;
	&-block{
		display:table-cell;
		vertical-align: middle;
		text-align: right;
	}
}
.header{
	height: 7rem;
}
.phone-link{
	display: inline-block;
	@include font_bold("ProximaNova_bold","../fonts/ProximaNova-Bold");
	font-size: 2rem;
	height:7rem;
	line-height: 7rem;
	color:$text;
}
/* блок с преимуществами */
.section-header{
	text-align:center;
	margin:2rem 0 10rem;
	@include font_bold("ProximaNova_bold","../fonts/ProximaNova-Bold");
	font-weight: 900;
	font-size: 3.6rem;
}

.features{
	&-block{
		text-align: center;
		h3{
			font-size: 2rem;
			font-weight: 900;
			margin-bottom: 3rem;
			@include font_bold("ProximaNova_bold","../fonts/ProximaNova-Bold");
		}
		p{
			display:inline-block;
			width: 80%;
			font-size: 1.4rem;
		}
	}

	&-img {
  height: 9rem;
  padding-top: 1rem;
  margin-bottom: 3rem;
		img{
		display:block;
		margin: 0 auto;
	}
	}
}
.slick-active{
	outline:none;
}

/* блок с ценами */

.price{
	background-color:#286c0a;
	color:$light;
	h2{
		 @include font_bold("ProximaNova_bold","../fonts/ProximaNova-Bold");
		font-size: 3.6rem;
	}
	p{
		font-size: 1.4rem;
		padding-bottom: 9rem;
	}
	&-tag{
		display:block;
		font-size: 1.9rem;
		color:black;
		margin-bottom: 2rem ;
	}
	&-block{
		background-color:$light;
		text-align: center; 
		padding: 1rem 3rem;
		width:35rem;
		min-height: 60rem;
		h4{
			@include font_bold("ProximaNova_bold","../fonts/ProximaNova-Bold");
		color:black;
		font-size: 1.9rem;
		margin: 3rem 0;
	}
	img{
		display: inline-block;
    margin-bottom: 2rem;
	}
.price-list{
	color:black;
	list-style: none;
	font-size: 1.6rem;
	@include font_regular("ProximaNova_reg","../fonts/ProximaNova-Regular");
	min-height:16rem;
	padding:0;
	li{
		&:before{
			content:'';
			display:inline-block;
			margin-right: 1rem;
			width: 1.4rem;
			height: 1.4rem;
			background-image:url(../img/mark.svg); 
			background-size:100%;
			vertical-align:middle;
		}
	}
	}
}
}
/*секция с отзывами */
.feedback{
	position:relative;
	background:url(../img/feedback/feedback-bg.jpg) no-repeat center;
	background-size:cover;
	margin-top:-1.7rem;
	h2{
		padding-top: 10rem;
		padding-bottom: 6rem;
		@include font_bold("ProximaNova_bold","../fonts/ProximaNova-Bold");
		font-size: 3.6rem;
	}
	&-text{
		position:relative;
		margin-top: 2rem;
		font-style:italic;
		padding:1rem;
		border:1px solid $icon-color;
		&::before{
			content:"";
			display:block;
			position:absolute;	
			left:4rem;		
			top:-2rem;
			width: 2rem;
			height:2rem;
			border:2px solid $icon-color;
			background-color:$light;
			border-bottom:none;
			border-top-right-radius:100px;
		}
	}
	&-prev-btn{
		left: -4rem ;
	}
	&-next-btn{
		right: -4rem ;
	}
	&-slider{
		padding: 5rem 6rem;
		background-color: $light;
  box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
  &-btn{
  	position:absolute;
  	top:50%;
  	transform:translateY(-50%);
  	width: 4rem;
  	height: 6rem;
  	background-color: $icon-color;
  	border:none;
  	img{
  		width: 50%;
  	}
  }
  p{
	     font-size: 1.6rem;
	     text-align: left;
	     @include font_regular("ProximaNova_reg","../fonts/ProximaNova-Regular");
   } 
	strong {
	 		@include font_bold("ProximaNova_bold","../fonts/ProximaNova-Bold");
	       }
	}
	/*feedbackform*/
	&-form{
		margin-top: 5rem;
		margin-bottom: 10rem;
		padding: 6rem 14rem;
		text-align: center;
		background-color:$light;
		//width: 74rem;
		h3{
			@include font_bold("ProximaNova_bold","../fonts/ProximaNova-Bold");
		font-size: 2rem;
		margin-bottom: 1rem;
		}
label{
	transform: translate(0, 37px);
		background-color:$light;
		font-size: 1.6rem;

	}
}
&-btn{
	max-width: 30rem;
	margin:auto;
}
}
.row-form{
	margin: 0 auto;
}

/*отзыв внутри салйдера*/
.media{
	margin-top: 2.5rem;
&-body{
text-align: left;
line-height: 1.5rem;
font-weight: 400;
font-size: 1.4rem;
}
h6{
	@include font_regular("ProximaNova_reg","../fonts/ProximaNova-Regular");
}
}

/*hand in feedback*/
.hand{
	position:absolute;
	bottom:0;
	left:-10px;
	max-width: 30%;
}

/*block scheme*/
.scheme{
	background-image:url(../img/scheme/scheme-hand.png);
	background-repeat:no-repeat;
	background-position: 141% 176%;
 background-size: 54% 84%;
	margin-top:-2.5rem;
	background-color:#FCFCFC;
	h2{
		padding-top: 12rem;
		margin-bottom: 5rem;
		font-size: 3.6rem;
		font-weight: 700;
			@include font_bold("ProximaNova_bold","../fonts/ProximaNova-Bold");
	}
	p{
		@include font_regular("ProximaNova_reg","../fonts/ProximaNova-Regular");
		font-size: 1.7rem;
		font-weight: 400;
		line-height: 1.25;
	}
	img{
		margin-bottom: 3.3rem;
	}
	&-hand{
		position: absolute;
  right: 0;
  top: 15px;
  transform: translate(120px, 358px);
  max-width: 50%;
	}
	&-block{
		min-height:30rem;
	h3{
		font-size: 2.2rem;
		margin-bottom: 3rem;
  @include font_bold("ProximaNova_bold","../fonts/ProximaNova-Bold");
	}
	}
	&-p_marginBottom{
		margin-bottom: 6.5rem;
	}
}
/* Всплывающие  модальное окно*/ 

.popup{
	display:none;
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	width: 100%;
	height: 100%;
	z-index: 9;
	background-color:rgba(0,0,0,0.5);
	&-content{
		position:fixed;
		top:10%;
	left:50%;
	transform:translateX(-50%);
	padding:4rem 6rem;
	background-color:$light;
	}
	&-close{
		position:absolute;
		top:-1.2rem;
		right:-2rem;
		width: 2rem;
	 text-align: center;
	 border:none;
	 background-color:transparent;
	 font-size:2.5rem;
	 color:$light;
	}
	&-content{
		text-align:center;
		p{
			font-size: 1.4rem;
		}
	}
	&-header{
		@include font_bold("ProximaNova_bold","../fonts/ProximaNova-Bold");
		font-size: 1.8rem;
	}

	&-form{
		background-color: $light;
		text-align: center;
		/*header form */
		&-header{
			margin-bottom:4rem;
			font-size: 1.6rem;
			
		}
		/* поле ввода */
		&-input{
			display:block;
			margin:2rem 0 ;
			width: 100%;
			padding: 1.5rem;
			border: 1px solid $border-input;
			outline:none;
		}
		/*подписи к полям*/
		label{
			position: absolute;
			display:inline-block;
			left:50%;
			font-size: 1.3rem;
			transform: translateX(-50%) translateY(-50%);
			padding:0.5rem;
			background-color:$light;
		}
		/* кнопка оставить заявку */
		&-btn{
			 display:block;
			 width: 100%;
			 height: 6rem;
			 font-size: 1.6rem; 
		}
		/* подпись */
small{
display:block;
font-size: 1.2rem;
margin-top: 1.9rem;
}
	}
}
/*all-inclusive*/
.section-header{
	h2{
		padding-top: 12rem;
		padding-bottom: 5rem;
		font-size: 4.8rem;
		color:$icon-color;
		@include font_bold("ProximaNova_bold","../fonts/ProximaNova-Bold");
	}
	p{
		font-size: 1.6rem;
			@include font_regular("ProximaNova_reg","../fonts/ProximaNova-Regular");
	}
}
.all-inclusive{
	margin-top: -1.9rem;
	background:$bg-light;
	min-height: 66rem;
	.media{
		min-height:  8rem;
		h4{
			@include font_bold("ProximaNova_bold","../fonts/ProximaNova-Bold");
			font-size: 1.6rem;
		}
		font-size: 1.3rem;
	}
}
.circle{
	display: inline-block;
	background-color: $icon-color;
	width: 100%;
	height: 100%;
	border-radius:50%;
	&-border{
		display: inline-block;
		width: 5rem;
		height: 5rem;
		border:2px solid $icon-color;
		border-radius:50%;
		text-align: center;
		line-height: 4rem;
		padding:0.3rem;
		color:$light;
		font-size: 1.9rem;
				@include font_bold("ProximaNova_bold","../fonts/ProximaNova-Bold");
	}
}



@media (min-width: 768px) and (max-width: 991px){
	.main{
		background-position:top right;
		}
		.phone-block{
		text-align:center;
	}
	.main-content{
	margin-top:3rem;
	}
.main-tittle{
	padding-bottom: 3rem;
    text-align:center;
 }
.main-trigger{
	width: 690px;
	text-align:center;
}
}
@media(max-width: 767px){
	.main{
		background-position:top left;
	}
	.header{
		text-align: center;
	}
	.wrap-block{
		text-align:center;
	}
	.main-content {
    margin-top: 15rem;  
}
.main-tittle{
    	text-align: center;
    }
.main-tittle{
	padding-bottom: 3rem;
 }
}
@media(min-width: 576px)and(max-width: 767px) {
.main-trigger{
	width: 505px;
	text-align:center;
}
.main-form-header {
    font-size: 1.2rem;
}
}
/*price block*/
@media(min-width: 992px)and(max-width:1199px){
	
.price{

&-block{
		width: 100%;
		margin-bottom:2rem;
	}

 p{
		font-size: 1.4rem;
  padding-bottom: 0rem;
	}
	
}
.price_button-marginBottom{
		margin-bottom:4rem;
	}
}

@media(min-width: 768px)and(max-width: 991px){
	.price{
      &-block{
		 margin: 0 auto;
			margin-bottom:2rem;
	}
	p{
		font-size: 1.4rem;
  padding-bottom: 0rem;
	}
	.price_button-marginBottom{
		margin-bottom:4rem;
	}
	}
}

@media(min-width: 576px)and(max-width: 767px){
	.price{
      &-block{
		 margin: 0 auto;
			margin-bottom:2rem;
	}
	p{
		font-size: 1.4rem;
  padding-bottom: 0rem;
	}
	.price_button-marginBottom{
		margin-bottom:4rem;
	}
	}
}
/*price slider @media feedback*/
@media(min-width: 768px)and(max-width: 992px){
	.feedback-form label{
		transform: translate(0, 19px);
	}
	.feedback-form-input{
		margin:0;
	}
	.feedback-btn{
		margin:2rem auto 0;
	}
}

@media(min-width: 577px)and(max-width: 767px){
	.col-md-12{
		margin-top:2rem;
	}
	.feedback-form label{
		transform: translate(0, 19px);
	}
	.feedback-form-input{
		margin:0;
	}
	.feedback-btn{
		margin:2rem auto 0;
	}
}
@media(max-width:  576px){
	.feedback-form{
		padding:1rem 8rem;
		label{
    transform: translate(0, 19px);
		}
	}
	.col-sm-12{
		margin-top:2rem;
	}
	.feedback-prev-btn {
    left: 0rem;
}
.feedback-next-btn {
    right: 0rem;
}

.feedback-form-input{
		margin:0;
	}
	.feedback-btn{
		margin:2rem auto 0;
	}
}
/*block scheme*/
@media(min-width: 992px)and(max-width: 1199px){
.scheme{
	background:none;
	span{
		display:block;
	}
	&-block{
		text-align:center;
	}
}
}

@media(min-width: 768px)and(max-width: 991px){
.scheme{
	background:none;
	span{
		display:block;
	}
	&-block{
		text-align:center;
	}
}
}

@media(min-width: 576px)and(max-width: 767px){
.scheme{
	background:none;
	span{
		display:block;
	}
	&-block{
		text-align:center;
	}
}
}







